body {
  font-family: Helvetica;
  background-image: url('../images/ricepaper2.png');
  padding: 0.1px;
}

.top-nav {
  background-color: #011828;
  height: 4em;
  color: #FFF;
  width: 100%;
  position: fixed;
  z-index: 1;
  box-shadow: 5px 5px 10px #888888;
}

.top-nav h1 {
  display: inline;
  float: left;
  font-size: 2em;
  line-height: 0.75em;
  margin-left: 1em;
}

.nav-link {
  float: right;
  margin-right: 4em;
  text-decoration: none;
  color: #eee;
  line-height: 2.5em;
}

.header-title{
  color: #eee;
}

.container {
  width: 960px;
  min-height: 450px;
  margin: 5em auto 2em auto;
}

.content {
  width: 600px;
}

.page-title {
  margin-bottom: 1em;
  padding-bottom: 0.25em;
  border-bottom: 2px solid #ddd;
}

.field {
  margin: 5px 0 0 0;
}

div.input-field {
}

div.input-field input {
  color: #838383;
  width: 300px;
  padding: 8px;
  font-size: 16px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #ddd;
}

.input-textarea {
  color: #838383;
  font-size: 16px;
  padding: 8px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #ddd;
}

.edit-button {
  width: 100px;
  background-color: #aaa;
  height: 30px;
  line-height: 30px;
  border: none;
  margin: 1em 1em 1em 0;
}

.button {
  width: 100px;
  background-color: #aaa;
  height: 30px;
  line-height: 30px;
  border: none;
  margin-bottom: 1em;
}

.delete-post {
  text-decoration: none;
  font-size: 75%;
  color: #d55;
}

input.danger-button {
  width: 100px;
  background-color: #d55;
  height: 30px;
  line-height: 30px;
  border: none;
}

#error-explanation {
  color: #f00;
}

span.tags {
  display: inline-block;
  padding-top: 1em;
  color: #aaa;
  line-height: 25px;
}

section.body {
  min-height: 20em;
  padding-bottom: 2em;
}

.footer {
  width: 960px;
  margin: 2em auto;
  padding-top: 0.5em;
  border-top: 1px solid #aaa;
}

a.tag-string {
  text-decoration: none;
  color: #8F7EFC;
}

.posts-category {
  color: #aaa;
  margin-top: 0.25em;
  font-style: italic;
}

.post-list h2 {
  margin-bottom: 0;
}

a.post {
 color: #666;
 text-decoration: none;
 line-height: 3em;
}

div.post {
  min-height: 45px;
}