<form action="/posts" method="post">
  <input type="hidden" name="id" value="<%= post.id %>">
  <input type="hidden" name="_method" value="DELETE">
  <input class="danger-button" type="submit" value="Delete post">
</form>