<div class="post-form">
  <h2>Create a new post</h2>
  <form action="/posts" method="post">
    <div class="field input-field"><input type="text" name="title" placeholder="title"></div></br>
    <div class="textarea">
      <textarea class="input-textarea" rows="15" cols="50" name="body" placeholder="some thoughts..."></textarea>
    </div></br>
    <div class="field input-field"><input type="text" name="tags" placeholder="tags (comma separated)"></div>
    </br>
    <input class="button" type="submit" value="Post">
  </form>
</div>