<div class="post-list">
  <h2>Latest Posts</h2>
  <%= "Nothing posted yet. Create one below!" if @posts.empty? %>
  <% @posts.each do |post| %>
    <p class="post"><a href="<%= "/posts/#{post.id}" %>"><%= post.title.capitalize %></a> - (<%= "#{post.tags_string}" %>)</p>
  <% end %>
</div>

<div class="break"></div>

<div class="post-form">
  <h2>Create a new post</h2>
  <form action="/posts" method="post">
    <div class="field input-field"><input type="text" name="title" placeholder="title"></div></br>
    <div class="textarea">
      <textarea class="input-textarea" rows="20" cols="50" name="body" placeholder="some thoughts..."></textarea>
    </div></br>
    <div class="field input-field"><input type="text" name="tags" placeholder="tags (comma separated)"></div>
    </br>
    <input class="button" type="submit" value="Post">
  </form>
</div>

<div class="footer">
  <span class="rights">all rights reserved</span>
</div>
